@tailwind base;
@tailwind components;
@tailwind utilities;

/* On force le HTML et le BODY à prendre 100% de la hauteur réelle */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Important pour éviter le double scroll */
}

/* Custom Scrollbar pour le menu et le terminal */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}